* {
  box-sizing: border-box;
}

html{
  height: 100vh;
  body{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #31373D;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
}

.active{
  border-top: 0.1875em solid white!important;
}

nav{
  color: white;
  width: 100%;
  top:0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #352C72;
  -webkit-box-shadow: 0 0 0.375em 0.1875em rgba(0,0,0,0.12);
  -moz-box-shadow: 0 0 0.375em 0.1875em rgba(0,0,0,0.12);
  .nav_container{
    width: 90%;
    max-width: 75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p{
      margin: auto 0;
      padding-left: 0.625em;
      font-size: 1.5625em;
    }

    .nav{
      display: block;
      flex-shrink: 0;
      a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        height: 100%;
        margin: auto 0;
        padding: 1.125em 0.625em;
        border-top: 3px solid #352C72;
        background: transparent;
        transition: background-color 0.2s ease;
        font-size: 1em;
      }
      a:hover{
        transition: 1s;
        border-top: 0.1875em solid white;
      }
    }
  }
}

.main{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container{
    width: 90%;
    height: 100%;
    max-width: 75em;
    background-color: #24282B;
    padding: 1.25em;
    
    .information{
      display: flex;
      flex-direction: row;
      padding: 1.25em;

      img{
        width: 20%;
        border-radius: 0.5em;
      }

      p{
        margin-left: 1em;
        font-size: 1.125em;
        color: #BBBBBB;
        font-weight: 300;
        line-height: 1.7;
      }
    }

    .cards-main-row{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .card {
        width: 50%;
        max-width: 21.875em;
        display: flex;
        flex-direction: column;
        margin: 1.25em 0;
        padding: 1.25em;
        background-color: #31373D;
        border-radius: 0.5em;
        -webkit-box-shadow: 0 0 0.375em 0.1875em rgba(0,0,0,0.12);
        -moz-box-shadow: 0 0 0.375em 0.1875em rgba(0,0,0,0.12);

        p {
          margin: 0;
        }

        .title{
          color: white;
          font-size: 1.25em;
          font-weight: 500;
          padding: 0 0 1.25em;
        }

        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0.3125em 0;
          &:last-child {
            padding-bottom: 0;
          }
          p{
            color: white;
            width: 30%;
            font-size: 1em;
            font-weight: 300;
          }
          .balls{
            display: flex;
            flex-direction: row;
            width: 70%;
            .ball{
              display: flex;
              width: 8%;
              height: auto;
              margin-left: 0.5em;
              border-radius: 50%;
              background-color: #7D3CDF;
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625em 0;
  background-color: #352C72;
  box-shadow: 0 0 0.375em 0.1875em rgba(0, 0, 0, 0.12);

  p {
    color: #d4d4d4;
    font-size: 0.875em;
    margin: 0;
  }

  .networks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 1.25em;

    a {
      padding: 0.625em 0.9375em;
      border-radius: 0.5em;
      margin: 0 0.625em;
      box-shadow: 0 0 0.375em 0.1875em rgba(0, 0, 0, 0.12);

      img {
        width: 1.875em;
        height: 1.875em;
      }
    }
  }
}
.subcontainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    margin: 0;
    color: white;
  }

  .header-one{
    display: flex;
    flex-direction: column;
    width: 50%;
    .contact-title{
      font-size: 1.5625em;
      margin-top: 0.9375em;
      margin-bottom: 0.3125em;
    }

    .contact-text{
      font-size: 1.125em;
      padding: 0.125em 0;
    }

    form{
      display: flex;
      flex-direction: column;

      input, textarea{
        border: none;
        border-radius: 0.5em;
        padding:  1em;
        margin-top: 0.25em;
        margin-bottom: 0.6875em;
        font-family: "Roboto", sans-serif;
        font-size: 1em;
      }

      input[type="submit"]{
        background-color: #7D3CDF;
        color: white;
      }

      textarea{
        resize: none;
        min-height: 9.5em;
      }
    }
  }
}

.cards-row-one{
  display: flex;
  flex-direction: row;

  .card{
    width: 17.8125em;
    height: 20.875em;
    margin: 0.75em 1.875em;
    display: flex;
    flex-direction: column;

    .img-container{
      width: 100%;
      border-top-right-radius: 0.5em;
      border-top-left-radius: 0.5em;
      padding: 0.5em 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        height: 9em;
      }
    }

    .text-container{
      width: 100%;
      background-color: #D2D2D2;
      padding: 8px;

      p{
        color: #262626;
        margin: 0;
      }

      .card-title{
        font-weight: 400;
        font-size: 1.25em;
        padding: 8px;
      }

      .card-description{
        font-weight: 300;
        font-size: 0.875em;
        padding: 8px;
      }
    }

    .card-button{
      width: 100%;
      background-color: #352C72;
      color: white;
      border-bottom-right-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      text-decoration: none;
      text-align: center;
      padding: 1em 0;
    }

    .card-button:hover{
      background-color: #453992;
    }

  }
}